@font-face {
    font-family: Lato-Thin;
    src: url(fonts/Lato-Thin.ttf);
}

body {
    background-color: #FFF;
    margin: 0px;
}

h1 {
    font-family: "Lato-Thin";
    color: #404c60;
    font-size: 200%;
}

h2 {
    font-family: "Lato-Thin";
    color: rgb(96, 174, 66);
    font-size: 150%;
}

.hr {
    height: 450px;
    width: 1px;
    transform: translate(3750%, 7%);
}

.button {
    font-family: "Lato-Thin";
    font-size: 150%;
    background-color: rgb(96, 174, 66);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 80px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.5), 0 2px 2px 0 rgba(0,0,0,0.3);
}

.navbar {
    width: 100%;
    background-color: rgb(96, 174, 66);
    overflow: auto;
    padding: 1px;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: rgb(78, 145, 52);
}

.active {
    background-color: rgb(78, 145, 52);
}

.topnav-right {
    float: right;
}

.logo {
    width: 201px;
    height: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

.main_container {
    text-align: center;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}